body{width:80%; margin:0 auto;}

h1{text-align:center; opacity:.7; letter-spacing:12px;}
h1 i{color:red; font-style:normal;}

.EntirePage{width:60%; margin:35px auto 0 auto;}

#Description{font-style:oblique; color: grey; font-size:17px;}
#Description{font-style:oblique; color: grey; font-size:17.5px; }

#Divider{background-color:rgba(241, 47, 47, 0.462); text-align:center; border-radius:5px; width:95%; margin:0 auto; border:1.5px solid grey; padding:7px; }

h3{font-size:18px; font-family: Georgia, 'Times New Roman', Times, serif; line-height:10px; margin:14px; letter-spacing:3px; text-align:center; color:rgb(123, 9, 9); }


hr{border-bottom:2px solid rgb(123, 12, 12); width:90%; margin:25px auto 5px auto;}
img{width:70%;display:block; margin:0 auto; padding:18px 0;  }

#PicSub{text-align:center; padding-bottom:25px; border-bottom:2px solid rgb(123, 12, 12); width:90%; margin:0 auto 25px auto;}